// Bootstrap
// =========
// Bootstrap can be removed entirely by deleting this line.
$icon-font-path: "../fonts/";
@import "bootstrap/bootstrap";
@font-face {
				font-family: SourceSansPro-Regular;
				src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face {
				font-family: SourceSansPro-Bold;
				src: url(../fonts/SourceSansPro-Bold.otf);
}
@font-face {
				font-family: SourceSansPro-Semibold;
				src: url(../fonts/SourceSansPro-Semibold.otf);
}
// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.
@import "site/variables";
// Site Styles
// ===========
// Add your own site style includes here
@import "site/layout";
.no-padding {
				padding: 0;

}

#navprocedure,#navdoctor,#navprovider {
				width: 100%;
				a.active {
				     color: #FF6C6F;
				}
		}

#navstick {
				// background-color: green;
				// height: 2000px;
}
/* Sticky scrollbar on scroll down */
#navprocedure.sticky {
				position: fixed;
				top: 112px;
				z-index: 999;
				width: 66.8%;
}
#navdoctor.sticky {
				position: fixed;
				top: 112px;
				z-index: 999;
				width: 66.8%;
}
#navprovider.sticky {
				position: fixed;
				top: 112px;
				z-index: 999;
				width: 66.8%;
}
#navstick.offset {
				padding-top: 40px;
}
table {
				border-collapse: separate;
				border-spacing: 0;
				min-width: 350px;
}
table tr th,
table tr td {
				border-right: 1px solid #bbb;
				border-bottom: 1px solid #bbb;
				padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
				border-left: 1px solid #bbb;
}
table tr th {
				background: #eee;
				border-top: 1px solid #bbb;
				text-align: left;
}
/* top-left border-radius */
table tr:first-child th:first-child {
				border-top-left-radius: 6px;
}
/* top-right border-radius */
table tr:first-child th:last-child {
				border-top-right-radius: 6px;
}
/* bottom-left border-radius */
table tr:last-child td:first-child {
				border-bottom-left-radius: 6px;
}
/* bottom-right border-radius */
table tr:last-child td:last-child {
				border-bottom-right-radius: 6px;
}
.package_para >p {
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
}
.exp {
				border: 1px solid rgb(202,198,198);
				margin-left: 15px;
				background-color: rgb(198,198,198);
				color: white;
				margin-top: -20px;
				h4 {
								padding: 10px 0;
								font-family: SourceSansPro-Semibold;
								font-size: 20px;
								margin-top: 0;
				}
}
.exp>p {
				font-family: SourceSansPro-Regular;
				font-size: 16px;
				margin-top: -10px;
}
.navbar {
				margin-bottom: 0;
				background-color: rgb(43,43,43);
}
.footer {
				background-color: rgb(43,43,43);
				.foot {
								margin-right: 0;
								margin-left: 0;
								padding-top: 15px;
								.f_img {
												img {
																width: 30%;
																height: auto;
																margin-top: 10px;
																margin-left: 26px;
												}
												p {
																font-size: 12.5px;
																font-family: SourceSansPro-Regular;
																margin-left: 26px;
																color: white;
												}
								}
								.foot_data {
												margin-right: 0;
												margin-left: 0;
												li {
																font-size: 12.5px;
																font-family: SourceSansPro-Regular;
												}
								}
				}
}
//providers open
.provider-box {
				border-bottom: 1px solid #e5e5e5;
				width: 100%;
				// margin-left: 2px;
				// margin-bottom: 20px;
}
.provider-img {
				padding: 20px 0;
				border-radius: 8px;
				margin-top: 10px;
				margin-bottom: 10px;
				// width: 350px;
				// height: 300px;
}
.provider-info {
				h3 {
								margin-top: 26px;
								font-family: SourceSansPro-Bold;
								font-size: 22px;
				}
				p {
								text-align: justify;
								font-size: 14px;
								// margin-top: 35px;
								margin-left: 0;
								margin-right: 20px;
								font-family: SourceSansPro-Regular;
								font-size: 14px;
								padding-bottom: 0;
								margin-bottom: 0;
				}
				.btn-primary.providers_btn {
								margin-top: 30px;
								background-color: #ff6c6f;
								border-color: #ff6c6f;
								box-shadow: 0 4px 0 0 #b24b4d;
								margin-bottom: 10px;
								outline: none;
								font-family: SourceSansPro-Semibold;
								font-size: 16px;
								padding: 4px 12px;
				}
}
//providers close
.q {
				height: auto;
}
.p {
				height: 350px;
				overflow-y: auto;
				overflow-x: hidden;
}
.navbar-default {
				background-color: #ededed;
				border-radius: 0;
				li {
								font-family: SourceSansPro-Regular;
								font-size: 16.5px;
				}
				a {
								outline: none;
				}
}
.navbar-default .navbar-nav > li > a {
				color: black;
}

.navbar-inverse .navbar-nav > li > a {
				color: white;
}

//procedure doctor open
.tabs {
				li {
								font-family: SourceSansPro-Regular;
								background-color: rgb(237,237,237);
								font-size: 20px;
								padding-top: 10px;
								padding-bottom: 10px;
								// box-shadow: 0 5px 0 #cac6c6;
								border-bottom: 2px solid #cac6c6;
				}
				a {
								outline: none;
				}
				.active {
								background-color: white;

				}
}
.marginAlign {
				overflow: hidden;
				margin-left: 0;
				margin-right: 0;
				margin-top: 112px;
				.border {
								border-right: 1px solid #ededed;
				}
}
.procedure {
				overflow: hidden;
				margin: 0;
				.border {
								border-right: 1px solid #ededed;
				}
}
.image {
				width: 100%;
				height: auto;
}
.para> p {
				height: auto;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
				text-align: justify;
				padding: 20px 0;
				margin-bottom: 0;
}
#over {
				border-top: 1px solid #ededed;
				padding-top: 10px;
				span {
								position: relative;
								top: 10px;
								font-family: SourceSansPro-Semibold;
								font-size: 16.5px;
				}
}

.procedure-box {
				margin-top: 40px;
				padding-bottom: 20px;
				h3 {
								margin-top: 0;
								width: 100%;
								padding: 20px 0 20px 10px;
								font-size: 16px;
								background-color: #ededed;
								font-family: SourceSansPro-Bold;
								height: auto;
				}
				img {
								height: 156px;
								width: 100%;
				}
				a {
								outline: none;
								text-decoration: none;
				}
}
.btn-primary.rai {
				border: 1px solid rgb(83, 200, 171);
				color: white;
				background-color: rgb(83, 200, 171);
				box-shadow: 0 3px 0 0 #317866;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
}
.btn-primary.raised {
				box-shadow: 0 3px 0 0 #b24b4d;
				background-color: #ff6c6f;
				border-color: rgb(255,108,111);
				margin-top: 53px;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
				padding: 4px 12px;
}
.btn-primary.raised.active {
				outline: none;
				box-shadow: none;
}
.proc {
				margin-top: 45px;
				border-bottom-width: 0;
				img {
								width: 104px;
								height: 104px;
								border-radius: 50%;
				}
}
.procedure-doc {
				h4 {
								font-family: SourceSansPro-Regular;
				}
				p {
								font-family: SourceSansPro-Regular;
				}
}
.doc_proc {
				padding-bottom: 20px;
				.doc_border {
								border: 1px solid #e5e5e5;
								border-radius: 4px;
								margin-top: 20px;
								margin-bottom: 20px;
				}
}
.panel-default {
				border-width: 0;
				.panel-heading {
								margin-top: 20px;
								background-color: #EDEDED;
								padding: 12px 15px;
				}
				.panel-title {
								a {
												outline: none;
								}
								.accordion {
												.title {
																padding-top: 5px;
																font-family: SourceSansPro-Regular;
																font-size: 16px;
																span {
																				padding-left: 5px;
																				font-size: 18px;
																				font-family: SourceSansPro-Semibold;
																}
												}
												.price {
																padding-top: 5px;
																text-align: right;
																span {
																				font-size: 16px;
																}
												}
												.btn-primary.procedure_btn {
																background-color: #ff6c6f;
																color: white;
																font-size: 16px;
																font-family: SourceSansPro-Regular;
																height: auto;
																padding: 1px 12px;
																border-color: #ff6c6f;
																box-shadow: 0 3px 0 0 #b24b4d;
												}
												.btn-primary.doc_btn {
																background-color: #53c8ab;
																color: white;
																font-size: 16px;
																font-family: SourceSansPro-Regular;
																height: auto;
																border-color: #53c8ab;
																box-shadow: 0 3px 0 0 #317866;
																padding: 1px 12px;
												}
								}
				}
				.panel-body {
								text-align: left;
								font-size: 16px;
								font-family: SourceSansPro-Regular;
				}
}
//procedure doctor closed
#link {
				border: 1px solid #53c8ab;
				color: #53c8ab;
				// border-radius: 4px;
				padding: 1px 10px;
				position: relative;
				top: 12px;
				text-decoration: none;
				font-family: SourceSansPro-Regular;
				font-size: 18px;
}
//doctor open
.consult_block {
				background-color: #53c8ab;
				width: auto;
				.info {
								text-align: center;
								font-family: SourceSansPro-Regular;
								font-size: 16px;
								color: white;
								// padding: 10px;
				}
}
.consult_content {
				border: solid 2px #53c8ab;
				.consult_data {
								color: #53c8ab;
								text-align: center;
								font-family: SourceSansPro-Regular;
								font-size: 18px;
				}
}
.doc {
				padding-top: 45px;
				height: 447px;
				padding-bottom: 40px;
}
.doc_profile {
				img {
								width: 200px;
								height: 200px;
								border-radius: 50%;
				}
				h3 {
								font-family: SourceSansPro-Semibold;
								font-size: 32px;
								color: #959595;
								margin-top: -5px;
				}
				p {
								font-family: SourceSansPro-Regular;
								font-size: 20px;
				}
}
.name {
				h3 {
								background-color: #ededed;
								font-size: 20px;
								width: 100%;
								height: auto;
								padding: 25px 0 25px 33px;
								margin-top: 0;
								font-family: SourceSansPro-Bold;
				}
}
.frm_doctor {
				border: solid 2px rgb(198,198,198);
				h5 {
								margin-top: 0;
								background-color: rgb(198,198,198);
								padding: 20px 0;
								font-family: SourceSansPro-Semibold;
								font-size: 20px;
								color: white;
								text-align: center;
				}
				.form_fields {
								#age {
												padding-top: 10px;
												padding-bottom: 10px;
												margin-top: 0;
								}
								.gender {
												font-family: SourceSansPro-Regular;
												font-weight: normal;
												font-size: 16px;
												color: rgb(95,95,95);
								}
								.value {
												font-family: SourceSansPro-Regular;
												font-weight: normal;
												font-size: 16px;
								}
				}
				.doctor_btn {
								font-size: 18px;
								font-family: SourceSansPro-Regular;
								margin-left: -6px;
								background-color: rgb(83,200,171);
								color: white;
								border-color: rgb(83,200,171);
								box-shadow: 0 3px 0 0 rgb(49,120,102);
				}
}
//doctor closed
//provider open
.provider_procedures {
				.btn-primary.procedure_btn {
								background-color: #ff6c6f;
								color: white;
								font-size: 16px;
								font-family: SourceSansPro-Regular;
								height: auto;
								padding: 1px 12px;
								border-color: #ff6c6f;
								box-shadow: 0 3px 0 0 #b24b4d;
				}
}
.form {
				background-color: #ededed;
				width: 100%;
				height: auto;
				margin-top: -30px;
				padding-bottom: 20px;
				.nm {
								padding-top: 30px;
				}
				.form-group {
								display: block;
								.form-control {
												width: 100%;
												height: auto;
												padding: 15px 12px;
												margin-top: 15px;
												border-radius: 8px;
								}
								.textarea {
												width: 100%;
												height: auto;
												margin-top: 15px;
												border-radius: 8px;
												padding: 8px 0 0 8px;
												border: 1px solid #ccc;
								}
				}
				.btn-primary.provider_btn {
								padding: 5px 6px;
								width: 40%;
								height: auto;
								background-color: rgb(255,108,111);
								color: white;
								font-size: 24px;
								border-radius: 6px;
								margin-top: 40px;
								border-color: rgb(255,108,111);
								font-family: SourceSansPro-Regular;
								box-shadow: 0 4px 0 0 rgb(223,95,105);
								outline: none;
								// box-shadow: 0 2px 0 0 rgb(223,95,105);
				}
}
//provider close
.connect {
				border: 2px solid #d55f61;
				border-radius: 5px;
				margin-bottom: 0;
				margin-top: 9px;
				padding: 2px 12px;
				color: #d55f61;
}
.post_img {
				height: auto;
				width: 50%;
				margin: 0 auto;
}
.edit-input {
				display: none;
}
a {
				color: black;
}
a:hover {
				color: black;
				background-color: inherit;
				text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
				color: black;
				background-color: inherit;
}
a:focus {
				background-color: none;
}


.box {
				width: 700px;
				height: 300px;
				border: 1px solid rgb(229, 229, 229);
				margin: 100px 200px;
				.col {
								border-left: 1px solid #e5e5e5;
								margin-top: 20px;
				}
				.form-horizontal {
								margin-top: 50px;
								padding-left: 5px;
				}
				#Email,
				#Password {
								width: 300px;
								margin-left: 15px;
				}
				button {
								background-color: rgb(41,132,209);
								color: white;
								margin-left: -58px;
								margin-top: 10px;
				}
}
.square {
				border: 1px solid #e5e5e5;
				width: 470px;
				margin-left: 300px;
				margin-top: 70px;
				#fname,
				#lname {
								margin-left: 20px;
								margin-top: 20px;
				}
				#email,
				#password,
				#pass {
								width: 420px;
								margin-left: 20px;
				}
				button {
								background-color: rgb(41,132,209);
								color: white;
								margin-left: 20px;
				}
}
.btn-primary.raiseds {
				box-shadow: 0 4px 0 0 rgb(223,95,105);
				border-color: rgb(255,108,111);
}
.btn-primary.enquire {
				box-shadow: 0 4px 0 0 rgb(223,95,105);
				border-color: rgb(255,108,111);
				background-color: #ff6c6f;
				width: 50%;
				height: auto;
}
.spec {}
.autocomplete-suggestions {
				border: 1px solid #999;
				background: #fff;
				overflow: auto;
}
.autocomplete-suggestion {
				padding: 2px 5px;
				white-space: nowrap;
				overflow: hidden;
				color: grey;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
}
.autocomplete-selected {
				background: #f0f0f0;
}
.autocomplete-suggestions strong {
				font-weight: normal;
				color: rgb(255,108,111);
				// color: #39f;
}
.autocomplete-group {
				padding: 2px 5px;
}
.autocomplete-group strong {
				display: block;
				border-bottom: 1px solid #000;
}
.form {
				 ::-webkit-input-placeholder {
								font-family: SourceSansPro-Regular;
								font-size: 16px;
				}
				 :-moz-placeholder {
								/* Firefox 18- */
								font-family: SourceSansPro-Regular;
								font-size: 16px;
				}
				 ::-moz-placeholder {
								/* Firefox 19+ */
								// color: red;
								font-family: SourceSansPro-Regular;
								font-size: 16px;
				}
				 :-ms-input-placeholder {
								// color: red;
								font-family: SourceSansPro-Regular;
								font-size: 16px;
				}
}
// .jumbotron {
// 				background-image: url("../images/Meet the Doctors.jpg");
// 				width: 100%;
// 				height: 100%;
// }
.carousel-fade {
				.carousel-inner {
								.item {
												transition-property: opacity;
								}
								.item,
								.active.left,
								.active.right {
												opacity: 0;
								}
								.active,
								.next.left,
								.prev.right {
												opacity: 1;
								}
								.next,
								.prev,
								.active.left,
								.active.right {
												left: 0;
												transform: translate3d(0, 0, 0);
								}
				}
				.carousel-control {
								z-index: 2;
				}
}
.carousel-control.left,
.carousel-control.right {
				background-image: none;
				color: #cdcaca;
}
.specialities {
				background-color: rgb(43,43,43);
				color: white;
				margin-top: 0;
				font-size: 18px;
				font-family: SourceSansPro-Regular;
				width: 100%;
				padding: 15px 13px;
				text-align: center;
}
.doctor {
				padding-left: 25px;
				.thumbnail {
								// border-bottom-width: 1px;
								margin-top: 30px;
								height: auto;
								width: auto;
								.doct {
												border-radius: 50%;
												width: 160px;
												height: 160px;
												margin-top: 10px;
								}
				}
}
.index_choose {
				.title {
								font-size: 32px;
								padding-top: 30px;
								padding-bottom: 5px;
								color: rgb(149,149,149);
								text-align: center;
								font-family: SourceSansPro-Semibold;
				}
				.thumbnail {
								border-radius: 0;
								.image {
												margin-bottom: 0;
												width: 30%;
												height: auto;
												margin-left: auto;
												margin-right: auto;
												display: block;
												padding: 25px 0 15px 5px;
								}
				}
}
.index_help {
				.null {
								border: none;
				}
				.image1 {
								width: 50%;
								height: auto;
				}
}
.thumbnail>p {
				font-family: SourceSansPro-Semibold;
				text-align: center;
				font-size: 16px;
				padding-top: 15px;
}
.thumbnail>span {
				font-family: SourceSansPro-Regular;
				text-align: center;
				font-size: 14px;
}
.btn-primary.raise {
				border: 1px solid rgb(83, 200, 171);
				color: white;
				background-color: rgb(83, 200, 171);
				border-radius: 5px;
				width: 70%;
				margin-bottom: 10px;
				padding: 4px 12px;
				font-family: SourceSansPro-Regular;
				font-size: 16px;
				box-shadow: 0 3px 0 0 #317866;
}
.btn-primary.rais {
				width: 90%;
				padding: 4px 12px;
				background-color: #ff6c6f;
				height: auto;
				border-color: #ff6c6f;
				box-shadow: 0 3px 0 0 #b24b4d;
				font-family: SourceSansPro-Regular;
				margin-top: 4px;
				.search_doc {
								font-size: 15px;
				}
}
// .connect {
//
// 				// background-color: #ff6c6f;
// 				// border-color: #ff6c6f;
// 				// box-shadow: 0 2px 0 0 #B24B4D;
// 				font-family: SourceSansPro-Regular;
// 				font-size: 16px;
// 				padding: 1px 12px;
// 				;
//
// 				// width:80px;
// }
.qwe {
				padding-left: 0;
				padding-right: 0;
}
.panel-group .panel + .panel {
				margin-top: 0;
}
.panel_doc {
				margin-top: -10px;
				.panel_heading {
								margin-top: 0;
								border: 1px solid #cac6c6;
								border-top-left-radius: 0;
								border-top-right-radius: 0;
								.accordion_doc {
												.pro {
																font-family: SourceSansPro-Regular;
																font-size: 16.5px;
												}
												.icon {
																color: #d6d2d2;
												}
								}
				}
}
.homepage {
				background: url("../images/GMTHomeHD1.jpg")no-repeat center center;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: table;
				// margin-top: 100px;
				width: 100%;
				height: 447px;
}
// .jumbotron {
// 				background: url("../images/GOAhome.jpg")no-repeat center center;
// 				background-repeat: no-repeat;
// 				-webkit-background-size: cover;
// 				-moz-background-size: cover;
// 				-o-background-size: cover;
// 				background-size: cover;
// }
// hr.style17 {
// 	border-top: 1px solid #8c8b8b;
// 	text-align: center;
// }
// hr.style17:after {
// 	content: 'V';
// 	display: inline-block;
//
//
// }
.packagePic {
				background: url("../images/Packages265(1).jpg")no-repeat center center;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: table;
				width: 100%;
				position: relative;
				height: 265px;
}
.picture {
				background: url("../images/Specialities265(1).png")no-repeat center center;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: table;
				width: 100%;
				position: relative;
				height: 265px;
}
.affix {
				top: 0;
				width: 100%;
}
.hero {
				background: url("../images/MeetTheDoctorsC50.jpg")no-repeat center center;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: table;
				width: 100%;
				position: relative;
				height: 265px;
				.container {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								.pp {
												// padding-left: 20px;
												padding-bottom: 35px;
												// .border_doc {
												// 				border-bottom: 4px solid #ff6c6f;
												// 				width: 10%;
												// 				margin-top: -15px;
												// 				margin-bottom: 10px;
												// }
								}
								h2 {
												font-family: SourceSansPro-Bold;
												font-size: 34px;
												margin-bottom: 0;
												color: white;
												padding-bottom: 10px;
								}
								p {
												font-size: 19px;
												margin-bottom: 0;
												color: white;
												font-family: SourceSansPro-Semibold;
								}
								.form-group {
												padding: 0 0 0 15px;
												.form-control {
																width: 105%;
																height: auto;
																padding: 8px 12px 10px;
																margin-left: -15px;
												}
												#proc {
																font-family: SourceSansPro-Semibold;
																color: black;
																font-size: 18px;
																font-weight: 300;
																padding-top: 4px;
												}
								}
								display: table-cell;
								text-align: left;
								.block {
												background-color: rgba(0, 0, 0, 0.2);
												padding: 5px 15px;
								}
				}
}
.tryIndex {
				position: relative;
				top: -112px;
				overflow: hidden;
}
.text-data {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				top: 220px;
				.pp {
								// padding-left: 20px;
								padding-bottom: 11px;
								margin-bottom: 40px;
								.border_doc {
												border-bottom: 5px solid #ff6c6f;
												width: 10%;
												margin-top: -15px;
												margin-bottom: 10px;
								}
				}
				h2 {
								font-family: SourceSansPro-Semibold;
								font-size: 30px;
								margin-bottom: 0;
								color: rgb(100,100,100);
				}
				p {
								font-size: 20px;
								margin-bottom: 0;
								font-family: SourceSansPro-Regular;
				}
}
.main-text {
				position: absolute;
				top: 220px;
				width: 100%;
				p {
								font-family: SourceSansPro-Semibold;
								font-size: 30px;
								margin-bottom: 0;
								color: rgb(43,43,43);
				}
				// color: #FFF;
}
.hero1 {
				background: url("../images/GMTHomeHD1.jpg")no-repeat center center;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: table;
				width: 100%;
				// position: absolute;
				// top: 114px;
				height: 447px;
}
@media only screen and (max-width: 750px) {
				.hero {
								background: grey;
								.container {
												.pp {
																margin-top: 0;
																text-align: center;
																padding-left: 0;
																h2 {
																				font-size: 180%;
																}
																p {
																				font-size: 15px;
																				margin-top: 3px;
																}
																.border_doc {
																				border-bottom: 5px solid #ff6c6f;
																				width: 25%;
																				margin: -15px auto 0;
																				// margin-top: -15px;
																				// margin-bottom: 10px;
																				// margin-left:220px;
																}
												}
												.form-group {
																.form-control {
																				width: 100%;
																				margin-left: 0;
																				margin-right: auto;
																				height: 45px;
																}
																#proc {
																				font-size: 25px;
																				font-weight: 200;
																				text-align: center;
																				margin: 0 auto;
																				display: block;
																}
																.main_button {
																				// margin: 0 auto;
																				// display: block;
																				.btn-primary.rais {
																								width: 50%;
																								display: block;
																								margin: 0 auto;
																								height: 45px;
																								margin-top: 10px;
																								margin-bottom: 20px;
																								.search_doc {
																												font-size: 18px;
																												font-family: SourceSansPro-Semibold;
																												// width: 100%;
																								}
																				}
																}
												}
								}
				}
}
@media only screen and (max-width: 774px) {
				.qwe {
								display: none;
				}
				.doctor {
								// width: 271px;
								.thumbnail {
												height: 321px;
												width: 271px;
												margin-left: auto;
												margin-right: auto;
												padding-left: 0;
								}
				}
				.hero .container .form-group #proc {
								text-align: center;
								margin: 0 auto;
								// margin-left: 200px;
				}
}
.form-horizontal {
				margin-top: 20px;
}
