// Bootstrap
// =========
// Bootstrap can be removed entirely by deleting this line.
@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.
@import "site/variables";

// Site Styles
// ===========
// Add your own site style includes here
@import "site/layout";
.circle {
     // background-repeat: no-repeat;
       border-radius: 50%;
				width: 120px;
				height:120px;
			}
.provider-box {
				border: 1px solid black;
				width: 830px;
        margin-bottom: 20px;
}
.provider-img{
  padding: 20px;
   width: 250px;
    height: 225px;
}
.pills {
  margin-left: -48px;
  li{
    margin-right: 20px;
    margin-top: 15px;
    width:250px;
    height:50px;
    padding-top:10px;
    font-size:18px;

  }
}

.tabs{
	margin-right: 20px;
	margin-top: 15px;
	width:280px;
	height:70px;
	padding-top:10px;
	font-size:20px;
  margin-left: 20px;
border-bottom-width:0px;

  li{
    margin-bottom: 20px;
    border:1px solid #e5e5e5;
    background-color: rgb(237,237,237);
    
}

}

.treatment{
	margin-left: 15px;
  .border{
    border-right:2px solid #e5e5e5;
  }
	img{
		width: 750px;
		height: 380px;
		margin-left: -28px;
		margin-top: 15px;
	}
}

  p{
    margin-top:40px;
   margin-bottom: 40px;
  }

#providers,#doctors,#procedures{
  margin-left:-32px;
  padding-top:20px;
  margin-top:15px;
  border-top:2px solid #e5e5e5;
}
#bio{
  font-size: 16px;
  margin-top: 45px;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 40px;
  margin-left: -40px;
}
.treatment-box{
margin-left: -45px;
margin-top: 20px;
margin-bottom:40px;

h3{
	font-size:16px;
	background-color:#e5e5e5;
	padding-top:12px;
	padding-bottom:12px;
	text-align:left;
	padding-left:10px
	}
	img{
		height: 180px;
		width: 250px;
	}
  button{
    margin-top:80px;
    // background-color: #FA5858;
  }
}

.treat{
	margin-top: 45px;
	border-bottom:2px solid #e5e5e5;
	 padding-bottom: 40px;
	  margin-left:-45px;
		width:843px;
    border-bottom-width: 0px;
	img{
		width:120px;
		height:120px;
		border-radius:50%;
		margin-top: -10px;
}
}
.treatment-doc{
	margin-top: -20px;
	h3{
		padding-left: 8px;
		margin-left: -10px;
	}
}
.bttn{
  color:#00cc9d;
 height:30px;
  // border-color:#00cc9d;
}
.doc{
  margin-top: 45px;
	border-bottom:2px solid #e5e5e5;
	 padding-bottom: 40px;
	  margin-left:-45px;
		width:843px;
  img{
    width:180px;
		height:180px;
		border-radius:50%;
		margin-top: -10px;
  }
}
.proc{
	margin-top:45px;
	margin-left:-45px;
	border-bottom: 2px solid #e5e5e5;
	width:843px;
  border-bottom-width: 0px;
	button{
		background-color:#e5e5e5;
		width:150px;
		height:50px;
		margin-bottom: 20px;

	}
}
.name{
  h3{
  background-color:#e5e5e5;
  font-size:18px;
  width: 400px;
  height:50px;
  padding-top:15px;
  padding-left:10px;
  margin-left: -15px;
}
}
.form{
  background-color:#e5e5e5;
  width:400px;height:600px;
  margin-left:-15px;
  .nm{
    padding-top:30px;
  }

  .form-control{
    width: 350px;
    height:45px;
    margin-left:20px;
  }
  .textarea{
    width: 350px;
    margin-left:20px;
  }
  .dropdown{
    margin-left: 20px;
    }
  .button{
    margin-left:20px;
    width:170px;
    height:40px;
    background-color:rgb(223,95,105);
    color:white;
    font-size: 20px;
  }
}
.button{
  background-color:rgb(223,95,105);
  color:white;
  font-size:14px;
  height:30px;
}
.post_img{
  height:auto;
  width:50%;
  margin:0 auto;
}

.edit-input {
    display:none;
}
