$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.header
  {
  background-color: #EFEFEF;
  border-bottom: 1px solid #cccccc;
    height: 50px;
}
.header{
  .nav-pills{
    font-size: 15px;
    background-color: #EFEFEF;

  // border-bottom: 1px solid #cccccc;
}
}

.jumbotron{
  background-color: #b0e0e6;
}

.jumbotron{
  .btn-info{
    background-color: #999999;
    font-size: 20px;
    text-align: center;
    }
}

.image{
  max-width: 100%;
  max-height: 100%;
  // background-color: #b0e0e6;
  position: relative;
}
.lead{
  position:relative;
  top: -40px;
  left: 20px;
  }

 .footer{
   font-size: 14px;
   font-style: normal;
   font-family: sans-serif;
   background-color: #EFEFEF;
   border-top: 1px solid #cccccc;
 }
 .boxed{
   border:1px solid black;
 }
