<div class="row">
  <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
  </div>
  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="procedure" class="control-label">Procedure:</label>
        <label for="procedure" class="control-label">{{procedure.name}}</label>
        <!-- <input type="text" class="form-control" id="procedure"> -->
      </div>
    </form>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="message-text" class="control-label">Hospitals:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Hospitals
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width:100%">
            {{#each procedure.providers}}
              <div class="row">
                <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{name}}</a></li>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                  <button type="button" class="btn btn-default">View Profile</button>
                </div>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>
    </form>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="message-text" class="control-label">Doctors:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Doctors
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width:100%">
            {{#each procedure.doctors}}
              <div class="row">
                <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{name}}</a></li>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modaldoc" data-title="{{name}}">View Profile</button>
                </div>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
  </div>
</div>

<!-- ModalDoc -->
<div class="bs-example">
	<div id="modaldoc" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Modal Window</h4>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/form.js"></script>
