<div class="container">


	  <div class="row"  style="margin-left: 15px;">
	  <div class="col-lg-9" style="border-right:2px solid #e5e5e5">
		<img src="images/hosp3.png" style="width: 800px; height: 350px;margin-left: -28px; margin-top: 15px;">
	  <div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top: 4px;margin-left:20px">
		<div id="navbar-example">
		<ul class="nav nav-pills nav-justified" role="tablist" style="margin-left: -48px;">
				<li class="active"><a href="#about">About</a></li>
				<li class=""><a href="#doctors">Doctors</a></li>
				<li class=""><a href="#procedures">Procedures</a></li>
				<li class=""><a href="#reviews">Reviews</a></li>
				</ul>
			</div>
			<h4 id="about" ></h4>
		<p style="font-size: 16px; margin-top: 45px; border-bottom: 2px solid #e5e5e5; padding-bottom: 40px; margin-left: -40px;">
			Manipal Hospital, Goa is one of the largest private hospitals in the state, offering the highest
			number of specialities, having the highest number of full time doctors and provide 24/7 services
			of Pharmacy, Laboratory, Paediatric and Neonatal emergency. It has 6 world class operation
			theatres and is a 235 bed facility. It also has the highest standards of clinical expertise, nursing
			care and state-of-the-art hospital facilities. We provide rapid assessment, intervention and
			treatment for numerous common and complex conditions. We provide customized and individual care to every patient.</p>


		<h4 id="doctors" style="margin-left:-32px">Doctors</h4>
		<div class="row"  style="margin-top: 45px;border-bottom:2px solid #e5e5e5; padding-bottom: 40px; margin-left:-45px;width:843px;">
		<div class="col-lg-3 ">
		<img class="circle" src="images/logo.png" style="margin-top: -10px;">
		</div>
		<div class="col-lg-6 " style="margin-top: -20px;">
		<h3 style="padding-left: 8px; margin-left: -10px;">Dr. Arjun Mehta</h3>
    <p>MBBS, KLE.</p>
		<p>Cardiologist, Edinburgh, Scotland</p>
		</div>
		<div class="col-lg-3">
		<button type="button" class="btn btn-default">Verified</button>
		</div>
    </div>
		<h4 id="procedures" style="margin-left:-32px" >Procedures</h4>
		  <div class="row" style="margin-top:45px;margin-left:-45px;">
			<div class="col-lg-4">
			<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;">Bones & Joints</button>
			</div>
			<div class="col-lg-4">
			<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;">Dentistry</button>
			</div>
			<div class="col-lg-4">
		<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;">Eye Care</button>
			</div>
		</div>
		<div class="row" style="margin-top:30px;margin-left:-45px; border-bottom:2px solid #e5e5e5;padding-bottom:40px; width:843px;">
		<div class="col-lg-4">
		<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;">Cosmetics</button>
		</div>
		<div class="col-lg-4">
		<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;margin-left:6px;">Bariatrics</button>
		</div>
		<div class="col-lg-4">
		<button type="button" class="btn btn-default" style="background-color:#e5e5e5;width:150px;height:50px;margin-left:12px;">Ayurveda</button>
		</div>
		</div>
    </div>
	  </div>

	  <div class="col-lg-3">
		<h3 style="background-color:#e5e5e5;font-size:18px;width: 320px;height:40px; margin-left: -10px;padding-top:12px;text-align:left;padding-left:10px">Manipal Hospital,Goa</h3>
		<br><br><br><br><br><br><br><br><br>
		<p><span class="glyphicon glyphicon-phone"></span>0832 271 4370</p>
    <p style="margin-left:15px">0832 274 4376</p>
    <p style="margin-left:15px">91 9822568680</p>
    <p style="margin-left:15px">info@manipalgoa.com</p>
  	<br><br>


<p style="margin-left:15px">Dona Paula, Goa</p>
<p style="margin-left:15px">403001</p>
<br><br><br>
<button type="button" class="btn btn-default" style="margin-left:15px">Enquire</button>
	</div>
	</div>

</div>
