<!-- <div class="container"> -->

{{>headerhome}}
<div class="row procedure tryIndex">

	<div class="homepage">
		<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval: "4000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		    	style="top: -10px; left: -1130px;right: 0px;"-->
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active ">
					<img src="../images/GMTHomeCMain.jpg" style="width:100%;height:auto">
					<div class="carousel-caption" style="left: 72px;top:310px; text-align: left;">
						<h2 style="margin-top:0px; font-size:35px;font-family:SourceSansPro-Bold;">The perfect place for a complete recovery</h2>
						<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;">Best priced healthcare </h2>
						<div class="row">
							<div class="col-lg-4" style="padding-right:0px">
								<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;"> Warm hospitality</h2>
							</div>
							<div class="col-lg-4 " style="">
								<img src="../images/Arrow.png" style="width:8%;padding-top:10px;">								<!-- <p style="font-size:16px;font-family:SourceSansPro-Regular;padding-top:8px;">learn more...</p> -->
							</div>
						</div>
					</div>
				</div>

				<div class="item ">
					<img src="../images/GMTHomeWellness1.jpg" style="width:100%;height:auto;">
					<div class="carousel-caption" style="left: 72px;top:310px; text-align: left;">
						<h2 style="margin-top:0px; font-size:35px;font-family:SourceSansPro-Bold;">Experience the power of inner healing</h2>
						<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;">Choose the ideal location</h2>
						<div class="row">
							<div class="col-lg-6" style="padding-right:0px;">
								<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;"> Explore the various arts of yoga</h2>
							</div>
							<div class="col-lg-4 " style="padding-left:0px;">
									<img src="../images/Arrow.png" style="width:8%;padding-top:10px;">
								<!-- <p style="font-size:16px;font-family:SourceSansPro-Regular;padding-top:8px;margin-left:-30px;">learn more...</p> -->
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<img src="../images/GMTHomeC4.jpg" style="width:100%;height:auto;">
					<div class="carousel-caption" style="left: 72px;top:310px; text-align: left;">
						<h2 style="margin-top:0px; font-size:35px;font-family:SourceSansPro-Bold;">Treat your health with a vacation</h2>
						<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;">Preventive care programs</h2>
						<div class="row">
							<div class="col-lg-5" style="padding-right:0px;">
								<h2 style="margin-top:0px; font-size:30px;font-family:SourceSansPro-Semibold;">Curative healing packages</h2>
							</div>
							<div class="col-lg-4" style="padding-left:0px;">
									<img src="../images/Arrow.png" style="width:8%;padding-top:10px;">
								<!-- <p style="font-size:16px;font-family:SourceSansPro-Regular;padding-top:8px;margin-left:-15px">learn more...</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/pro.js"></script>
	<script src="/js/image.js"></script>

	<div class="row index_choose">
		<p class="title">How You Choose</p>
		<div class="row" style="padding-bottom: 20px;">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/providers/hospitals" style="outline:none;">
							<div class="thumbnail   " style="padding-left: 90px;border:none;">
								<div class="index-border" style="">
									<img alt="Goa Medical Travel" src="/images/Icons_Hospital Home.png" align="middle"
									style="margin-bottom: 0;width: 30%;height: auto;margin-left: auto;margin-right: auto;display: block;padding: 25px 0 15px 5px;" />
								</div>
								<div class="thumbnail index-info" style="">
									<h4 style="">Providers</h4>
									<p style="">Find the right provider</p>
									<p style="">Learn about the facilities</p>
									<p style="">Request for a free quote</p>
									<p style="">Send customised queries</p>
									<div style=" text-align:center">
										<span style="">
											<img src="../images/Arrow.png" style="width:8%;">
										</span>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/procedure/bones-and-joints" style="outline:none;">
							<div class="thumbnail  " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
								<div class="index-border" style="">
									<img alt="Goa Medical Travel" src="/images/poo.png"
									style="width:47%;height:auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 25px 0 15px 5px;" />
								</div>
								<div class="thumbnail index-info" style="">
									<h4 style="">Specialities</h4>
									<p style="">Search by the treatment</p>
									<p style="">Find provider/doctor option</p>
									<p style="">Understand pricing</p>
									<p style="">Get multiple quotes</p>
									<div style=" text-align:center">
										<span style="">
											<img src="../images/Arrow.png" style="width:8%;">
										</span>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/doctors" style="outline:none;">
							<div class="thumbnail" style="padding-right: 90px;border-color:rgb(255,255,255)">
								<div class="index-border" style="">
									<img alt="Goa Medical Travel" src="/images/Icons_DoctorHome.png"
									style="width:43%;height:auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 25px 0 15px 5px;">
								</div>
								<div class="thumbnail index-info" style="">
									<h4 style="">Doctors</h4>
									<p style="">Find the right doctor</p>
									<p style="">Get doctor specific quote</p>
									<p style="">Choose appropriate facility</p>
									<p style="">Get a second opinion</p>
									<div style=" text-align:center">
										<span style="">
									<img src="../images/Arrow.png" style="width:8%;">
										</span>
									</div>
								</div>

							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
	</div>
	<div class="home2" style="margin-bottom: 0px;">
		<div class="homeimage" style="position:relative">
			<img alt="Goa Medical Travel" src="/images/GOAhome(1).jpg" style="width:100%;height:auto">
		</div>
		<div class="row" style="position:absolute;left:610px;top:1080px;">
		<h1 style="color:white;font-family:SourceSansPro-Semibold;">GOA</h1>
	</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<!-- <div class="row" style="position:absolute;">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 200px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Eat </span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 180px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Pray </span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 900px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Heal </span>
					</div>
				</div> -->
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		</div>
	</div>

	<div class="row index_help">
		<p class="title" style="font-size:32px;padding-top:30px; padding-bottom:5px;color: rgb(149,149,149);text-align:center;font-family:SourceSansPro-Semibold;">How We Help</p>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/ProviderResearch149.png" class="image1" id="ex1" style="padding-top:18px; padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px;padding-left:25px;color:rgb(47,47,47);">Provider Research</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null ">
							<img src="/images/MedicalVisa149.png" id="ex2" class="image1" style="padding-top:13px;  padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px;color:rgb(47,47,47);">Medical Visa</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null ">
							<img src="/images/FlightBooking149.png" id="ex3" class="image1  " style="padding-top:27px; padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px;padding-left: 11px;color:rgb(47,47,47);">Flight Booking</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/Stay149.png" id="ex4" class="image1  " style="padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px; padding-right: 25px;color:rgb(47,47,47);">Stay</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/LocalLogistics149.png" id="ex5" class="image1  " style="padding-top:34px; padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px;color:rgb(47,47,47);">Local Logistics</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/Assistance149.png" id="ex6" class="image1" style="padding-top:30px; padding-bottom:20px;" />
							<div class="thumbnail null " style="margin-bottom: 0px;font-family:SourceSansPro-Regular;">
								<p style="padding-top: 5px;color:rgb(47,47,47);">Pre/Post Operative Assistance</p>
							</div>
						</div>
					</div>
					<div class="row" style="text-align:center;">
						<a href="/services" style="font-family:SourceSansPro-Regular;font-size:16px;text-decoration:none;">
							Learn More...
							<!-- <input type="submit" value="Learn More" style="font-family:SourceSansPro-Regular;font-size:16px;"> -->
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

		</div>

	</div>

	<div class="row index_choose">
		<p class="title">What They Say</p>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail" style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
							<div style="border:none;padding-bottom: 20px;" align="middle">
								<img alt="Goa Medical Travel" src="/images/dr-shekhar-salkar.jpg" class="image" align="middle" style="padding: 5px;border-radius:50%;width:130px;height:130px;" />
							</div>
							<div class="thumbnail  " style="margin-bottom: 0px; border-color:rgb(83,200,171); border-radius:10px;font-family:SourceSansPro-Regular;">
								<h4 style="font-family:SourceSansPro-Semibold;text-align:center;font-size:24px;">Providers</h4>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<div style=" text-align:center">
									<a href="/services" style="text-decoration:none;font-family:SourceSansPro-Regular;color:white;font-size:16px;">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
							<div style="border:none;padding-bottom: 20px;" align="middle">
								<img alt="Goa Medical Travel" src="/images/dr-shekhar-salkar.jpg" class="image" align="middle" style="padding: 5px;border-radius:50%;width:130px;height:130px;" />
							</div>
							<div class="thumbnail  " style="margin-bottom: 0px; border-color:rgb(83,200,171); border-radius:10px;font-family:SourceSansPro-Regular;">
								<h4 style="font-family:SourceSansPro-Semibold;text-align:center;font-size:24px;">Providers</h4>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<div style=" text-align:center">
									<a href="/services" style="text-decoration:none;font-family:SourceSansPro-Regular;color:white;font-size:16px;">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail  " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
							<div style="border:none;padding-bottom: 20px;" align="middle">
								<img alt="Goa Medical Travel" src="/images/dr-shekhar-salkar.jpg" class="image" align="middle" style="padding: 5px;border-radius:50%;width:130px;height:130px;" />
							</div>
							<div class="thumbnail  " style="margin-bottom: 0px; border-color:rgb(83,200,171); border-radius:10px;font-family:SourceSansPro-Regular;">
								<h4 style="font-family:SourceSansPro-Semibold;text-align:center;font-size:24px;">Providers</h4>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<p style="padding-top: 0px;font-family:SourceSansPro-Regular;margin-top: -5px;">Providers</p>
								<div style=" text-align:center">
									<a href="/services" style="text-decoration:none;font-family:SourceSansPro-Regular;color:white;font-size:16px;">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<!-- <a href="/services">
					<input type="submit" value="Learn More">
				</a> -->
			</div>
		</div>
	</div>


	<!-- <div class="row">

	<svg height="30" width="410">
		<line x1="0" y1="10" x2="131" y2="10" style="stroke:rgb(0,0,0);stroke-width:0.5" />
		<line x1="131" y1="10" x2="141" y2="0" style="stroke:rgb(0,0,0);stroke-width:0.5" />
		<line x1="141" y1="0" x2="151" y2="10" style="stroke:rgb(0,0,0);stroke-width:0.5" />
		<line x1="151" y1="10" x2="282" y2="10" style="stroke:rgb(0,0,0);stroke-width:0.5" /> Sorry, your browser does not support inline SVG.
	</svg>


	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		<div class="row" style="padding-top:20px;">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
					<p style="font-family:SourceSansPro-Regular;font-size:18px;">Medical Travellers</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
					<p style="font-family:SourceSansPro-Regular;font-size:18px;">Doctors</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
					<p style="font-family:SourceSansPro-Regular;font-size:18px;">Providers</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="thumbnail" style="padding-left:0px">
					<img src="/images/dipchandbhaskarbhandare - Copy.jpg" style="border-radius:50%;width:30%;height:30%; padding-bottom: 20px;">
					<!-- <svg height="30" width="410">
					<line x1="0" y1="0" x2="180" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="180" y1="0" x2="205" y2="20" style="stroke:rgb(0,0,0);stroke-width:1" />
				<line x1="205" y1="20" x2="230" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="230" y1="0" x2="410" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					Sorry, your browser does not support inline SVG.
				</svg>
					<div class="caption ">
						<h3 style="text-align:center">Travels</h3>
						<p style="text-align:center">dfgfhyft</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="thumbnail" style="padding-left:0px">
					<img src="/images/dipchandbhaskarbhandare - Copy.jpg" style="border-radius:50%;width:30%;height:30%;padding-bottom: 20px;">
					<!-- <svg height="30" width="410">
					<line x1="0" y1="0" x2="180" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="180" y1="0" x2="205" y2="30" style="stroke:rgb(0,0,0);stroke-width:1" />
				<line x1="205" y1="30" x2="230" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="230" y1="0" x2="410" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					Sorry, your browser does not support inline SVG.
				</svg>
					<div class="caption">
						<h3 style="text-align:center">Travels</h3>
						<p style="text-align:center">dfgfhyft</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="thumbnail" style="padding-left:0px">
					<!-- <div style="border: rgb(83,200,171) 1px solid;border-bottom:none;">
					<img src="/images/dipchandbhaskarbhandare - Copy.jpg" style="border-radius:50%;width:30%;height:30%;padding-bottom: 20px;">
					<!-- </div> -->
	<!-- <svg height="40" width="410">
					<line x1="0" y1="0" x2="180" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="180" y1="0" x2="205" y2="40" style="stroke:rgb(0,0,0);stroke-width:1" />
				<line x1="205" y1="40" x2="230" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					<line x1="230" y1="0" x2="410" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
					Sorry, your browser does not support inline SVG.
				</svg>
					<div class="caption ">
						<h3 style="text-align:center">Travels</h3>
						<p style="text-align:center">dfgfhyft</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div> -->
</div>
{{>footer}}
