<!-- <div class="container"> -->

{{>headerhome}}
<div class="row procedure tryIndex">
	<div class="homepage">
		<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval: "4000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner home-carousel" role="listbox">
				<div class="item active">
					<img src="../images/GMTHomeCMain.jpg">
					<div class="carousel-caption">
						<h2>The perfect place for a complete recovery</h2>
						<h3>Best priced healthcare </h3>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:0px">
								<h3> Warm hospitality</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<img src="../images/Arrow.png" class="arrow">
							</div>
						</div>
					</div>
				</div>

				<div class="item ">
					<img src="../images/GMTHomeWellness1.jpg">
					<div class="carousel-caption">
						<h2>Experience the power of inner healing</h2>
						<h3>Choose the ideal location</h3>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right:0px;">
								<h3> Explore the various arts of yoga</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " style="padding-left:0px;">
								<img src="../images/Arrow.png" class="arrow">
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<img src="../images/GMTHomeC4.jpg">
					<div class="carousel-caption">
						<h2>Treat your health with a vacation</h2>
						<h3>Preventive care programs</h3>
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right:0px;">
								<h3>Curative healing packages</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
								<img src="../images/Arrow.png" class="arrow">
								<!-- <p style="font-size:16px;font-family:SourceSansPro-Regular;padding-top:8px;margin-left:-15px">learn more...</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row index_choose">
		<p class="title">How You Choose</p>
		<div class="row" style="padding-bottom: 20px;">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/providers/hospitals" style="outline:none;">
							<div class="thumbnail   " style="padding-left: 90px;border:none;">
								<div class="index-border">
									<img alt="Goa Medical Travel" src="/images/Icons_Hospital Home.png" align="middle" style="width: 30%;height: auto;" />
								</div>
								<div class="thumbnail index-info" style="">
									<h4>Providers</h4>
									<div class="info">
										<p>Find the right provider</p>
										<p>Learn about the facilities</p>
										<p>Request for a free quote</p>
										<p>Send customised queries</p>
									</div>
									<div style=" text-align:center">
										<!-- <span> -->
										<img src="../images/Arrow.png" style="width:8%;margin-top:-15px;">
										<!-- </span> -->
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/procedure/bones-and-joints" style="outline:none;">
							<div class="thumbnail  " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
								<div class="index-border">
									<img alt="Goa Medical Travel" src="/images/poo.png" style="width:47%;height:auto;	" />
								</div>
								<div class="thumbnail index-info">
									<h4>Specialities</h4>
									<div class="info">
										<p>Search by the treatment</p>
										<p>Find provider/doctor option</p>
										<p>Understand pricing</p>
										<p>Get multiple quotes</p>
									</div>
									<div style=" text-align:center">
										<!-- <span > -->
										<img src="../images/Arrow.png" style="width:8%;margin-top:-15px;">
										<!-- </span> -->
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<a href="/doctors" style="outline:none;">
							<div class="thumbnail" style="padding-right: 90px;border-color:rgb(255,255,255)">
								<div class="index-border">
									<img alt="Goa Medical Travel" src="/images/Icons_DoctorHome.png" style="width:43%;height:auto;">
								</div>
								<div class="thumbnail index-info">
									<h4>Doctors</h4>
									<div class="info">
										<p>Find the right doctor</p>
										<p>Get doctor specific quote</p>
										<p>Choose appropriate facility</p>
										<p>Get a second opinion</p>
									</div>
									<div style=" text-align:center">
										<!-- <span > -->
										<img src="../images/Arrow.png" style="width:8%;margin-top:-15px;">
										<!-- </span> -->
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
	</div>

	<div class="home2" style="margin-bottom: 0px;">
		<div class="homeimage" style="position:relative">
			<img alt="Goa Medical Travel" src="/images/GOAhome(1).jpg" style="width:100%;height:auto;filter: grayscale(1);">
		</div>
		<div class="row" style="position:absolute;left:625px;top:1080px;">
			<h1 style="color:white;font-family:SourceSansPro-Semibold;">GOA</h1>
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<!-- <div class="row" style="position:absolute;">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 200px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Eat </span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 180px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Pray </span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 900px;">
						<span style="font-size:24px;font-family:SourceSansPro-Regular;color:white;position:absolute;top:-90px;">Heal </span>
					</div>
				</div> -->
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		</div>
	</div>

	<div class="row index_help">
		<p class="title">How We Help</p>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/ProviderResearch149.png" class="image1" id="ex1" style="padding-top:18px; padding-bottom:20px;" />
							<div class="thumbnail null">
								<p style="padding-left:25px;">Provider Research</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null ">
							<img src="/images/MedicalVisa149.png" id="ex2" class="image1" style="padding-top:13px;  padding-bottom:20px;" />
							<div class="thumbnail null ">
								<p>Medical Visa</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null ">
							<img src="/images/FlightBooking149.png" id="ex3" class="image1  " style="padding-top:27px; padding-bottom:20px;" />
							<div class="thumbnail null ">
								<p style="padding-left: 11px;">Flight Booking</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/Stay149.png" id="ex4" class="image1  " style="padding-bottom:20px;" />
							<div class="thumbnail null ">
								<p style=" padding-right: 25px;">Stay</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/LocalLogistics149.png" id="ex5" class="image1  " style="padding-top:34px; padding-bottom:20px;" />
							<div class="thumbnail null ">
								<p>Local Logistics</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 0px; padding-left: 0px;">
						<div class="thumbnail null">
							<img src="/images/Assistance149.png" id="ex6" class="image1" style="padding-top:30px; padding-bottom:20px;" />
							<div class="thumbnail null">
								<p>Pre/Post Operative Assistance</p>
							</div>
						</div>
					</div>
					<div class="row" style="text-align:center;">
						<a href="/services" style="font-family:SourceSansPro-Regular;font-size:16px;text-decoration:none;">
							Learn More...
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		</div>
	</div>

	<div class="row index_choose">
		<p class="title">What They Say</p>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<div class="thumbnail index_say" align="middle" style="">
							<img alt="Goa Medical Travel" src="" class="image" align="middle" />
							<div class="thumbnail block" style="">
								<h4 style="">Providers</h4>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<div class="link">
									<a href="/services">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<div class="thumbnail index_say" style="">
							<img alt="Goa Medical Travel" src="" class="image" align="middle" />
							<div class="thumbnail block" style="">
								<h4 style="">Providers</h4>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<p style="">Providers</p>
								<div class="link" style=" ">
									<a href="/services" style="">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
						<div class="thumbnail index_say ">
							<img alt="Goa Medical Travel" src="" class="image" align="middle" />
							<div class="thumbnail block ">
								<h4>Providers</h4>
								<p>Providers</p>
								<p>Providers</p>
								<p>Providers</p>
								<p>Providers</p>
								<div class="link">
									<a href="/services">
								Learn More ...
							</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
	</div>
</div>
{{>footer}}


<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/pro.js"></script>
<script src="/js/image.js"></script>
