<div class="container">


	<form class="form-inline" method="post" style="margin-left:25px;">
			<input type="hidden" name="action" value="search1">
      <input type="text" name="procedure" id="Search" class="form-control" placeholder="Procedure">
			<input type="submit" style="height: 35px; width: 80px;" value="Search">
	</form>

	<form class="form-inline" method="post" style="margin-left:25px;">
			<input type="hidden" name="action" value="search2">
      <input type="text" name="speciality" id="Search" class="form-control" placeholder="Speciality">
			<input type="submit" style="height: 35px; width: 80px;" value="Search">
	</form>

	<form class="form-inline" method="post" style="margin-left:25px;">
			<input type="hidden" name="action" value="search3">
			<input type="text" name="provider" id="Search" class="form-control" placeholder="Provider">
			<input type="submit" style="height: 35px; width: 80px;" value="Search">
	</form>

	<div class="row" style="margin-top:25px;">
		<div class="col-md-4" style="border:1px solid black;width: 300px;height:200px; margin-left:25px;">
			{{#each doctors}}
				<div class="row">
					<div class="col-lg-4">
						<img src="http://placehold.it/120x120" style="border-radius:120%;margin-top:40px">
					</div>
					<div class="col-lg-8">
						<p style="margin-left:30px;margin-top:60px">{{name}}</p>
						<p style="margin-left:30px;margin-top:-25px">{{description}}</p>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
