<div class="container">

	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="action" value="upload">
		<p>
			<b> Please specify a file, or a set of files: </b>
			<br>
			<input type="file" name="image_upload" size="40">
		</p>
		<div>
			<input name="submit" type="submit" value="Send">
		</div>
	</form>
	</br>
	</br>
	<form class="form-inline" method="post">
		<input type="hidden" name="action" value="create">
		<div class="form-group">
			<input type="text" name="procedure" class="form-control" id="procedure" placeholder="Procedure">
			<input type="hidden" id="procedureId" name="procedureId" value="">
		</div>
		<input type="submit" value="Enquire" class="button" style="" />
	</form>


	<!-- <div class="row">
		<div class="col-xs-3">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active"><a href="#details" data-toggle="tab">Personal Details</a></li>
				<li><a href="#docs" data-toggle="tab">docs</a></li>
				<li><a href="#not" data-toggle="tab">Notifications</a></li>

			</ul>
		</div>
		<div class="col-xs-9">
			<div class="tab-content">
				<div class="tab-pane active" id="details">
					<div>
						<label for="Name" style="font-size:16px">Name</label>&nbsp;
						<label id="blank"></label>
						<input type="button" value="Edit" id="Edit" style="width: 70px;margin-left:150px" />
						<br>
					</div>
					<br>

					<div>
						<label for="Email" style="font-size:16px">Email</label>&nbsp;
						<label id="blanks"></label>
						<input type="button" value="Edit" id="Edits" style="width: 70px;margin-left:150px" />
						<br>
					</div>
					<br>


					<div>
						<label for="Mobile" style="font-size:16px;margin-left:-7px">Mobile</label>&nbsp;
						<label id="blankss"></label>
						<input type="button" value="Edit" id="Editss" style="width: 70px;margin-left:150px" />
						<br>
					</div>
					<br>
        	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
					<script src="/js/pro.js"></script>
				</div>
				<div class="tab-pane" id="docs">
					<button type="upload" class="btn btn-default">UPLOAD</button>
					<br>
					<br>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<div class="row">
											<div class="col-lg-6">
												<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Orthopedics
											</div>
											<div class="col-lg-6">
												<a href="#">
													<span class="glyphicon glyphicon-download" style="padding-left: 10px; padding-right: 10px;"></span>
													<a href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-share" style="padding-left: 10px; padding-right: 10px;"></span>
													</a>
													<a href="#">
														<span class="glyphicon glyphicon-trash " style="padding-left: 10px; padding-right: 10px;"></span>
													</a>

											</div>
										</div>

										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title" id="myModalLabel">Modal title</h4>
													</div>
													<div class="modal-body">
														<form class="form-inline">
															<input type="text" class="form-control" id="search" placeholder="" style="width:500px">

															<button style="height: 35px; width: 40px;">
																<span class="glyphicon glyphicon-search"></span>
															</button>
														</form>
													</div>

												</div>
											</div>
										</div>
										</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-6">
											<span class="glyphicon glyphicon-file" aria-hidden="true"></span> file1
										</div>
										<div class="col-lg-6">
											<span class="glyphicon glyphicon-download" style="padding-left: 10px; padding-right: 10px;"></span>
											<span class="glyphicon glyphicon-share" style="padding-left: 10px; padding-right: 10px;"></span>
											<span class=" glyphicon glyphicon-trash " style="padding-left: 10px; padding-right: 10px;"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<span class="glyphicon glyphicon-file" aria-hidden="true"></span> file2
										</div>
										<div class="col-lg-6">
											<span class="glyphicon glyphicon-download" style="padding-left: 10px; padding-right: 10px;"></span>
											<span class="glyphicon glyphicon-share" style="padding-left: 10px; padding-right: 10px;"></span>
											<span class=" glyphicon glyphicon-trash " style="padding-left: 10px; padding-right: 10px;"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="not">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<div class="row">
											<div class="col-sm-3">
												<img src="images/logo.png" style="border-radius:50%;height:90px;width:90px">
											</div>
											<div class="col-sm-6">
												<p>Title</p>
												<p>Subtitle</p>
											</div>
											<div class="col-sm-3">
												<p>27-Oct-2015</p>
											</div>
										</div>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body" style="background-color: lightgrey;width: 800px;margin: 25px;">
									<p>hi</p>
									<textarea class="form-control" rows="2" placeholder="reply"></textarea>
									<br>
									<button type="submit" class="btn btn-default">Send </button>
								</div>
							</div>
						</div>

						<br>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<div class="row">
											<div class="col-sm-3">
												<img src="images/logo.png" style="border-radius:50%;height:90px;width:90px">
											</div>
											<div class="col-sm-6">
												<p>Title</p>
												<p>Subtitle</p>
											</div>
											<div class="col-sm-3">
												<p>27-Oct-2015</p>
											</div>
										</div>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body" style="background-color: lightgrey;width: 800px;margin: 25px;">
									<p>hi</p>
									<textarea class="form-control" rows="2" placeholder="reply"></textarea>
									<br>
									<button type="submit" class="btn btn-default">Send </button>
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div> -->
</div>
