	{{>header}}
	<div class="picture marginAlign">
	</div>
	<div class="row" style="padding-bottom: 20px;padding-top:50px;">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/providers/hospitals" style="outline:none;">
						<div class="thumbnail   " style="padding-left: 90px;border:none;">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/ProviderResearch149.png" align="middle"
								style="margin-bottom: 0;width: 30%;height: auto;margin-left: auto;margin-right: auto;display: block;padding: 25px 0 15px 5px;"/>
							</div>
							<div class="thumbnail" style="">
								<h4 style="text-align:center">Providers</h4>
								<p style="">Find the right provider</p>
								<p style="">Learn about the facilities</p>
								<p style="">Request for a free quote</p>
								<p style="">Send customised queries</p>
								<div style=" text-align:center">
									<span style="">
										<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/procedure/bones-and-joints" style="outline:none;">
						<div class="thumbnail  " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/MedicalVisa149.png"
								style="width: 30%;height: auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 20px 0 15px 5px;" />
							</div>
							<div class="thumbnail" style="">
								<h4 style="text-align:center">Specialities</h4>
								<p style="">Search by the treatment</p>
								<p style="">Find provider/doctor option</p>
								<p style="">Understand pricing</p>
								<p style="">Get multiple quotes</p>
								<div style=" text-align:center">
									<span style="">
										<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/doctors" style="outline:none;">
						<div class="thumbnail" style="padding-right: 90px;border-color:rgb(255,255,255)">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/FlightBooking149.png"
								style="width: 30%;height: auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 30px 0 15px 5px;">
							</div>
							<div class="thumbnail" style="">
								<h4 style="text-align:center">Doctors</h4>
								<p style="">Find the right doctor</p>
								<p style="">Get doctor specific quote</p>
								<p style="">Choose appropriate facility</p>
								<p style="">Get a second opinion</p>
								<div style=" text-align:center">
									<span style="">
								<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>

						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>

	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/providers/hospitals" style="outline:none;">
						<div class="thumbnail   " style="padding-left: 90px;border:none;">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/Stay149.png" align="middle"
								style="margin-bottom: 0;width: 30%;height: auto;margin-left: auto;margin-right: auto;display: block;padding: 25px 0 15px 5px;"/>
							</div>
							<div class="thumbnail " style="">
								<h4 style="text-align:center">Providers</h4>
								<p style="">Find the right provider</p>
								<p style="">Learn about the facilities</p>
								<p style="">Request for a free quote</p>
								<p style="">Send customised queries</p>
								<div style=" text-align:center">
									<span style="">
										<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/procedure/bones-and-joints" style="outline:none;">
						<div class="thumbnail  " style="padding-left: 45px;padding-right:45px;border-color:rgb(255,255,255)">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/LocalLogistics149.png"
								style="width: 30%;height: auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 52px 0 15px 5px;" />
							</div>
							<div class="thumbnail" style="">
								<h4 style="text-align:center">Specialities</h4>
								<p style="">Search by the treatment</p>
								<p style="">Find provider/doctor option</p>
								<p style="">Understand pricing</p>
								<p style="">Get multiple quotes</p>
								<div style=" text-align:center">
									<span style="">
										<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
					<a href="/doctors" style="outline:none;">
						<div class="thumbnail" style="padding-right: 90px;border-color:rgb(255,255,255)">
							<div class="index-border" style="">
								<img alt="Goa Medical Travel" src="/images/Assistance149.png"
								style="width: 30%;height: auto;	margin-bottom: 0;	margin-left: auto;margin-right: auto;display: block;padding: 50px 0 15px 5px;">
							</div>
							<div class="thumbnail" style="">
								<h4 style="text-align:center">Doctors</h4>
								<p style="">Find the right doctor</p>
								<p style="">Get doctor specific quote</p>
								<p style="">Choose appropriate facility</p>
								<p style="">Get a second opinion</p>
								<div style=" text-align:center">
									<span style="">
								<img src="../images/Arrow.png" style="width:8%;">
									</span>
								</div>
							</div>

						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
	<!-- <div class="row procedure">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<div class="row ">
  <div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Provider Research</h3>
        <p>...</p>

      </div>
    </div>
  </div>

	<div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Medical Visa</h3>
        <p>...</p>

      </div>
    </div>
  </div>

	<div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Flight Booking</h3>
        <p>...</p>
      </div>
    </div>
  </div>

	<div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Flight Booking</h3>
        <p>...</p>
      </div>
    </div>
  </div>

	<div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Flight Booking</h3>
        <p>...</p>
      </div>
    </div>
  </div>

	<div class="col-lg-2  ">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Flight Booking</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>

</div>
</div> -->
{{>footer}}
