{{!< default}}

	<div class="jumbotron">

<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <p>
          <img style="margin-left: 10px; width: 700px; height: 415px;" src="images/a.jpeg">
          </p>

</div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

  <p><a class="btn btn-large btn-info" href="try.html" style="width: 290px; height: 70px;">Cancer Care</a></p>
          <p><a class="btn btn-large btn-info" href="try.html" style="width: 290px; height: 70px;">Bones & Joints</a></p>
          <p><a class="btn btn-large btn-info" href="try.html" style="width: 290px; height: 70px;">Cosmetics Treatment</a></p>
          <p><a class="btn btn-large btn-info" href="try.html" style="width: 290px; height: 70px;">IVF & Reproductive Medicine</a></p>
          <p><a class="btn btn-large btn-info" href="try.html" style="width: 290px; height: 70px;">Ayurveda & Wellness</a></p>
          </div>
          </div>
		
	</div>

