
{{# each facilities.results}}
<div>{{name}}</div>
{{/each}}
<h1>partner</h1>

<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 20px;">
 <!-- required for floating -->
    <!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left nav-stacked"><!-- 'tabs-right' for right tabs -->
<li class="active"><a href="#hospitals" data-toggle="tab">HOSPITALS</a></li>
<li><a href="#speciality" data-toggle="tab">SPECIALITY CLINICS</a></li>
<li><a href="#ayur" data-toggle="tab">AYUR CENTERS</a></li>
</ul>
</div>

<div>


<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="hospitals">
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: 20px;">
<div class=" main" >
<div class="boxed">
   <div class="row new" style="margin-right: 10px;">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 420px;">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">MANIPAL</h3> </p>
    <p style="padding-right: 20px; padding-left: 20px;">Manipal Hospitals is one of the most recognised Healthcare brands  of  South India. Their core strength lies in their excellent team of doctors, medical specialists, nurses and paramedical staff. Cutting edge technology coupled with excellent Human resource have allowed them to excel in their methods of Healthcare delivery.</p>
    <p style="padding-right: 20px; padding-left: 20px;"></p>
     </div>
    </div>
    </div>
    <br>

    <div class="boxed">
    <div class="row new" style="margin-right: 10px;">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 250px;">
    </div>
   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">VISION</h3> </p>
    <p style="padding-right: 20px; padding-left: 20px;">Vision multispeciality Hospital , located in the quiet city of Duler-Mapusa prides itself in providing quality and affordable healthcare to its patients. A team highly qualified specialists and support staff  working round the clock ensure Highest standards of healthcare.</p>
    <p style="padding-right: 20px; padding-left: 20px;">Originally, Vision hospital was set up as a speciality opthalmological unit which then divesified itself  into a multi-speciality clinic providing healthcare across cardiology, Chest medicine, Cosmetic Surgey, ENT, Fetal Medicine, Gastroenterology and much more</p>
    </div>
    </div>
    </div><br>

     <div class="boxed">
     <div class="row new" style="margin-right: 10px;">
     <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
     <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 260px;">
     </div>
     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
     <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">GALAXY</h3> </p>
     <p style="padding-right: 20px; padding-left: 20px;">Galaxy Hospital  is an excellent multi speciality center with outstanding state of the art facilities. Galaxy hospital has some of the best medical technology along with a team of doctors and support staff who are committed to provide a "patient first"  approach .</p>
    <p style="padding-right: 20px; padding-left: 20px;">Set up by Dr. Ravish kolwalkar who himself is well known for his prowess in the field of orthopedics, the hospital provides services in the field of Orthopedics, Cosmetology, Opthalmology, Minimal Access Surgery and more. In a short period of time, Galaxy hospital has been able to create a reputation for itself as one of the finest healthcare provider in the state of Goa
    </p>
    </div>
    </div>
    </div><br>

    <div class="boxed">
    <div class="row new" style="margin-right: 10px;">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 370px;">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">WOCKHARDT</h3> </p>
    <p style="padding-right: 20px; padding-left: 20px;">Wockhardt group hospitals is an international brand in Indian healthcare having a presence in 20 countries. In India they have a strong presence in the Western parts with 9 hospitals in various locations. Known for their provess in cardiology, they have now extended their expertise in the fields of Orthopedics, Neurology, Gastroenterology, Urology, Aesthetics and Minimal Access Surgery. With state of the art multi-disciplinary capabilities and world-class infrastructure and technology, Wockhardt group of hospitals aim to enrich the quality of life of every patient in a caring and nurturing environment and greatest respect for human dignity and life. </p>
    <p style="padding-right: 20px; padding-left: 20px;">NUSI Wockhardt Hospital at Goa is one their many NABH (National Acrreditation board for Hospitals and Healthcare) accreditated hospitals. It is the first and only Healthcare facility in Goa to be awarded the prestigious NABH accreditation. The multi-speciality hospital  equipped with infrastructure of International standards has eshtablished clinical expertise related to patient management and tertiary care.</p>
    </div>
    </div>
    </div>
    <br>
    </div>
    </div>
    </div>


  <div class="tab-pane" id="speciality">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: 20px;">
  <div class=" main" >
  <div class="boxed">
  <div class="row new" style="margin-right: 10px;">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
  <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 420px;">
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">PONDA IVF</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">Situated in the Residential town of  Ponda, Kamat IVF clinic and Endoscopy center provides scientifically advanced, state-of-the-art services to patients to ensure them the best possible outcomes in the field of Obstetrics, Gynecology, Infertility, Endoscopy, Fetal Medicine, Neonatology & Pediatrics. </p>
  <p style="padding-right: 20px; padding-left: 20px;">The Expert team of doctors and medical staff at the clinic understand that the emotional  unrest the patient goes through and they strive to provide quality care and a pleasent experience. </p>
  </div>
  </div>
  </div>
  <br>

  <div class="boxed">
  <div class="row new" style="margin-right: 10px;">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
  <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 250px;">
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">VISION CARE</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">Vision care superspeciality eye hospital defines "total Eye Care under one Roof". It is ISO 9001-2008 accreditated facility equipped  which continually strives to improve their systems, processes and technology. All opthalmologists associated with this hospital are superspecialists who have completed a long term fellowship in the respective specialities from some of the best institutes in the country.</p>
  <p style="padding-right: 20px; padding-left: 20px;">Vision care's team of super-specialists comprises of experts from the field of  Cataract, Glaucoma, Retina, Paediatric Opthalmology & Occuloplasty and have extensive training with latest diagnostic and surgical skills.</p>
  </div>
  </div>
  </div><br>
  </div>
  </div>
  </div>


 <div class="tab-pane" id="ayur">
 <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: 20px;">
<div class=" main" >
<div class="boxed">
<div class="row new" style="margin-right: 10px;">
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
<img src="images/hosp.png" style="padding: 20px; width: 320px; height: 420px;">
</div>
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">DENTISTS</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">We have carefully selected the best dentists to offer you high quality and trustworthy dental services in Goa. The Clinics mentioned below are all multi-speciality and each of them have  visiting specialists that offer their expertise in Implantology, Oral surgery, Orthodontics and Aesthetic Dentistry. These clinics have served clients from all over the world and thus have experience in detailed treatment planning and intricate patient follow up systems.</p>
</div>
</div>
</div>
<br>

<div class="boxed">
<div class="row new" style="margin-right: 10px;">
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
<img src="images/hosp.png" style="padding: 20px; width: 320px; height: 250px;">
</div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">ANHC</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">The ANHC is an ayurvedic treatment centre situated in the beautiful village of Saligao in Goa. Besides having qualified  ayurvedic doctors and nursing staff, the clinic has its own Kashaya department  to prepare herbal formulation. From herbal massages and organic meals at their in house restaurant, to yoga and meditation for physical and spiritual rejuvenation, the experience at the ANHC is holistic and refreshing</p>
  </div>
  </div>
  </div><br>

   <div class="boxed">
   <div class="row new" style="margin-right: 10px;">
   <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
   <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 260px;">
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">DEVAYAA</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">Devayaa Ayurveda and Nature Care Centre is located in Divar, in a serene area with facilities set in a 5 acre lush location of thick greenery. Here, you can opt for different traditional Ayurvedic treatments in the comfort of modern luxury facilities. This strategically located health centre treats only in-patents and is well equipped with complete Ayurvedic health care facilities and provides genuine alternate Medical Health Care to address various problems caused by modern lifestyles.</p>
  </div>
  </div>
  </div><br>

  <div class="boxed">
  <div class="row new" style="margin-right: 10px;">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
  <img src="images/hosp.png" style="padding: 20px; width: 320px; height: 370px;">
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p style="padding-right: 20px; padding-left: 20px;"> <h3 style="padding-right: 20px; padding-left: 20px;">GOA AYURVEDIC HOSPITAL</h3> </p>
  <p style="padding-right: 20px; padding-left: 20px;">Goa Ayurvedic Hospital in South Goa focuses on healing common ailments through its various natural health care solutions. This unique facility offers treatments comprising of external Ayurvedic therapies, diet and lifestyle modifications and detox procedures.  Goa Ayurvedic Hospital serves both in-patients as well as visiting patients and is supported with a pharmacy and yoga centre. </p>
  </div>
  </div>
  </div>
  <br>
 </div>
 </div>
 </div>


</div></div></div>

